# Text Editor files #
###################
*.pyc

# Other files #
###################
*.json

# Folders #
###################
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/include/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/lib/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/.cache/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/__pycache__/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/local/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/.git/**
/home/peter-paints/Desktop/peter-musonye-bc17-week-1/bin/**


